#!/usr/bin/env bash
# Go environment settings
export GODEBUG=netdns=go
export GOPROXY=https://proxy.golang.org,direct
export GOINSECURE=proxy.golang.org,goproxy.io
# export GIT_SSL_NO_VERIFY=1  # Temporary if SSL issues persist
layout hatch
