# .flake8
[flake8]
select = B,B9,BLK,C,D,DAR,E,F,I,S,W
ignore = E203,E501,W503,DAR000
# per-file-ignores = tests/*:S101
max-line-length = 88
max-complexity = 33
import-order-style = pycharm
application-import-names = nimg,tests
docstring-convention = numpy
